article {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background: white;
  color: black;
}

body h1 {
  text-align: center;
  color: wheat;
}

body {
  background: linear-gradient(to bottom, rgb(97, 45, 156), #333);
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
